
div.content-input {
    width: 100%;
    
    input {
        width: 100%;
        border: 1px solid var(--border-color-gray);
        outline: none;
        padding: var(--padding-small);
        border-radius: var(--border-radius-small);
        box-shadow: var(--box-shadow-first);
        font-family: var(--font-main);

        
    }

    .buttonLoad{
        background-color: var(--backgroun-color-blue);
        border-radius: var(--border-radius-small);
    }
    .input-error {
        color: var(--color-red);
    }
}